<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    
<nav class="navbar">
    <a class="title" href="">TODO</a>
</nav>

<form class="login_form" action="http://localhost:4500/login" method="post">
    <label class="login_label" for="username">Username:</label>
    <input class="login_input" type="text" name="username" id="username" required>
    <label class="login_label" for="password">Password:</label>
    <input class="login_input" type="password" name="password" id="password" required>
    <input class="login_btn" type="submit" value="Login">
    <a href="signup" class="signup">Register instead?</a>
    <p class="error" id="error"><%= (err)?err.message:"" %></p>
</form>


</body>
</html>